body {
  background-color: #64B5F6;
  margin: 0px;
}
.header {
    padding: 10px;
    background-color: #fff;
    text-align: center;
}
.title-row {
  margin-top: 42px;
  margin-bottom: 21px;
  text-align: center;
}
.instrukcja-tytul {
  padding: 0 20px;
  display: inline;
  font-size: 25px;
  color: white;
  font-family: 'Work Sans';
}
.instrukcja-row {
  margin: 0 auto;
  width: 400px;
  padding-bottom: 20px;
}
.instrukcja-numer {
  border-right: 3px dotted yellow;
  border-bottom: 3px dotted yellow;
  padding: 20px;
  font-family: 'Work Sans';
  font-size: 35px;
  color: #ffff99;
}
.instrukcja-tekst {
  border-bottom: 3px dotted yellow;
  padding: 10px;
  font-family: 'Work Sans';
  font-size: 16px;
  color: #fff;
}

.card-row{
  text-align: center;
}
.card-frame {
  cursor: pointer;
  padding: 10px;
}

#start-row {
  border-radius: 5px;
  border: 1px solid black;
  margin: auto;
  width: 180px;
  height: 43px;
  font-family: 'Work Sans';
  background-color: white;
  padding-top: 18px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 21px;
  cursor: pointer;
}
